<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="planeGenerator" type="PlaneGenerator.Configuration.PlaneGeneratorConfiguration, PlaneGenerator"/>
  </configSections>

  <planeGenerator quadrilateralCount="100">
    <gridSize width="10" height="10"/>
    <quadrilateralSize min="5" max="30"/>
    <boundaryBoxSize x="100" y="100" z="100"/>
  </planeGenerator>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
