<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="SettingsFile" value="C:\Temp\scene.xml" />
  </appSettings>

  <log4net>
    <appender name="CsvFileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Temp\log-file.csv" />
      <appendToFile value="true" />
      <layout type="CsvLogging.CsvPatternLayout, CsvLogging">
        <header value="DateTime,Description,Memory Kb,Duration, Frame(s) Per Second&#13;&#10;" />
        <conversionPattern
          value="%date%newfield%property{Description}%newfield%property{Memory}%newfield%property{Duration}%newfield%property{FramePerSecond}%endrow" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="CsvFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>