<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="planeGenerator" type="PlaneGenerator.Configuration.PlaneGeneratorConfiguration, PlaneGenerator" />
  </configSections>

  <planeGenerator quadrilateralCount="1000">
    <gridSize width="10" height="10" />
    <quadrilateralSize min="0.05" max="0.2" />
    <boundaryBoxSize x="1" y="1" z="1" />
  </planeGenerator>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>