<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="SettingsFile" value="C:\Temp\Dump.txt"/>
  </appSettings>
  
  <log4net>
    <!-- Устройство записи в файл log-file.txt -->
    <!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
       -->
    <!--название файла-->
    <!-- 
      <file value="C:\Temp\log-file.txt"/>
       -->
    <!--добавлять в файл-->
    <!-- 
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
         -->
    <!--формат вывода-->
    <!-- 
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>-->
    <appender name="CsvFileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Temp\log-file.csv"/>
      <appendToFile value="true"/>
      <layout type="CsvLogging.CsvPatternLayout, CsvLogging">
        <header value="DateTime,Description,Memory,Duration, Frame(s) Per Second&#13;&#10;" />
        <conversionPattern value="%date%newfield%property{Description}%newfield%property{Memory}%newfield%property{Duration}%newfield%property{FramePerSecond}%endrow" />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="FileAppender"/>-->
      <appender-ref ref="CsvFileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
